alias ls="ls -G"
alias la="ls -a"
alias ll="ls -l"

alias ..="cd .."
alias ..2="cd ../.."
alias ..3="cd ../../.."
alias ..4="cd ../../../.."
alias ..5="cd ../../../../.."

alias ga="git add"
alias gap="git add -p"
alias gb="git branch"
alias gbc="git branch --show-current | tr -d '\n' | pbcopy"
alias gc="git commit"
alias gcm="git commit -m"
alias gco="git checkout"
alias gcob="git checkout -b"
alias gf="git fetch"
alias glc="git log --oneline | cut -d\" \" -f 1 | head -n 1"
alias glcm="git log --oneline | cut -d\" \" -f 2- | head -n 1"
alias glo="git log --oneline"
alias gp="git push"
alias gpf="git push --force-with-lease"
alias gpsu="git push --set-upstream origin HEAD"
alias gra="git rebase --abort"
alias grc="git rebase --continue"
alias grhh="git reset --hard HEAD"
alias gri="git rebase -i"
alias gs="git status"
alias gsw="git switch"

alias vim="nvim"

alias lis="listening"

alias k="cd ~/Workspace/kamana"

alias pf="preview_file"
alias pg="preview_git_commits"
alias grs="gigalixir_release_sha"

alias jt="git log --oneline | rg -o '[A-Z]{1}[A-Z]+-\d+' | sort | uniq"

alias kngrok="ngrok http --region=us --hostname=kamana-nick.ngrok.io https://dev.kamana.app:4443"
