alias ls="ls --color=auto"
alias la="ls -a"
alias ll="ls -l"

alias ..="cd .."
alias ..2="cd ../.."
alias ..3="cd ../../.."
alias ..4="cd ../../../.."
alias ..5="cd ../../../../.."

alias glo="git log --oneline"
alias glc="git log --oneline | cut -d\" \" -f 1 | head -n 1"
alias glcm="git log --oneline | cut -d\" \" -f 2- | head -n 1"
alias gp="git push"
alias gpsu="git push --set-upstream origin HEAD"
alias gpf="git push --force-with-lease"
alias gs="git status"
alias gsw="git switch"
alias ga="git add"
alias gco="git checkout"
alias gcob="git checkout -b"

alias vim="nvim"

alias lis="listening"
