export EDITOR="$(which nvim)"
export FZF_DEFAULT_COMMAND='fd --type file --color=always'
export FZF_DEFAULT_OPTS="--ansi"
export ERL_AFLAGS="-kernel shell_history enabled"
export HOMEBREW_FORCE_BREWED_CURL=1
export TERM=xterm

export PATH="$HOME/Workspace/tmp/google-cloud-sdk/bin":"$PATH"
