alias ls="exa"
alias la="exa -a"
alias ll="exa -l"
alias lt="exa --tree"
alias lla="exa -la"

alias ..="cd .."
alias ..2="cd ../.."
alias ..3="cd ../../.."
alias ..4="cd ../../../.."
alias ..5="cd ../../../../.."

alias ga="git add"
alias gap="git add -p"
alias gb="git branch"
alias gbc="git branch --show-current | tr -d '\n' | pbcopy"
alias gc="git commit"
alias gcm="git commit -m"
alias gco="git checkout"
alias gcob="git checkout -b"
alias gf="git fetch"
alias glc="git log --oneline | cut -d\" \" -f 1 | head -n 1"
alias glcm="git log --oneline | cut -d\" \" -f 2- | head -n 1"
alias glo="git log --oneline"
alias gp="git push"
alias gpf="git push --force-with-lease"
alias gpsu="git push --set-upstream origin HEAD"
alias gra="git rebase --abort"
alias grc="git rebase --continue"
alias grhh="git reset --hard HEAD"
alias gri="git rebase -i"
alias gs="git status"
alias gsw="git switch"

alias vim="nvim"
alias watch="viddy"

alias lis="listening"

alias pf="preview_file"
alias pg="preview_git_commits"
